# Linux Kernel (Torvalds) C Coding Style
# Reference: https://www.kernel.org/doc/html/v4.10/process/coding-style.html

IndentWidth: 8
UseTab: Always
TabWidth: 8
ColumnLimit: 100
BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
IndentCaseLabels: false
PointerAlignment: Right
SortIncludes: false
AlignAfterOpenBracket: Align
ContinuationIndentWidth: 8
